/*style.css*/
#sidebar_1{
	width: 20%;
	float: left;
}

#content{
	width: 60%;
	float:left;
}

#sub_content{
	background-color: #e5e5e5;
	width: 70%;
}

#sidebar_2{
	width: 19%;
	float: left;
}

#comments{
	margin-top: 2em;
}

.title{

}

#form_header{
	margin-bottom: 1em;
	font-size: 20px;
}

#comment_box{
	width: 50%;
	height: 8em;
}

.stuff{
	font-family: arial;
	font-size: 16px;
}